<main class="container">
    <form id="login-form">
        <h2>Iniciar Sesión</h2>
        <div>
            <label for="username">Usuario</label>
            <input
                type="text"
                name="username"
                id="username"
                aria-describedby="helpId"
                placeholder="Tu nombre de usuario"
            />
        </div>

        <div>
            <label for="password">Contraseña</label>
            <input
                type="password"
                name="password"
                id="password"
                placeholder="Tu contraseña"
            />
        </div>

        <div>
            <button id="btn-login" class="btn-primary">Iniciar sesión</button>
        </div>

        <div>
            <p>¿No tienes una cuenta? <a href="/register" class="btn-link">Regístrate aquí</a></p>
        </div>

    </form>
</main>
<!-- <script type="module" src="../../router.js"></script> -->